*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

div#root {
  width: 100%;
  height: 100vh;
  background: linear-gradient(-25deg, #3f51b1 0%, #5a55ae 13%, #7b5fac 25%, #8f6aae 38%, #a86aa4 50%, #cc6b8e 62%, #f18271 75%, #f3a469 87%, #f7c978 100%);
  background-size: 400% 400%;
  background-position: 5% 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes animate{
  0%{
    background-position: 5% 50%;
  }
  100%{
    background-position: 60% 50%;
  }
}

@keyframes animate2 {
  0% {
    background-position: 60% 50%;
  }
  100% {
    background-position: 5% 50%;
  }
}

div.App {
  min-width: 50rem;
}

h1.title {
  font-size: 4.5em;
  text-align: center;
  margin-bottom: 2rem;
}

div.duration-control {
  width: 25rem;
  display: inline-block;
}

div#break-label,
div#session-label {
  text-align: center;
  font-size: 3em;
}

div.control-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

div.duration-control button {
  border: none;
  outline: none;
  background: none;
  font-size: 1.4em;
  cursor: pointer;
}

div.duration-control button:disabled {
  opacity: 0;
  pointer-events: none;
}

div.duration-control button i {
  font-size: 2em;
}

#session-length,
#break-length {
  font-size: 3em;
}

div.App > div.timer {
  width: 27rem;
  height: 16rem;
  border: 0.7rem solid rgb(98, 133, 153);
  border-radius: 5rem;
  margin: 0 auto 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.5rem;
}

div.App > div.timer > div#timer-label {
  font-size: 3rem;
}

div.App > div.timer > div#time-left {
  font-size: 7.5rem;
}

div.App > div.timer-control {
  margin-top: 1.4rem;
  display: flex;
  justify-content: center;
  gap: 3.5em;
}

div.App > div.timer-control > button {
  border: none;
  outline: none;
  background: none;
  font-size: 2em;
  cursor: pointer;
}

div.App > div.timer-control > button > i {
  font-size: 2em;
  margin-top: 1rem;
  color: lightgoldenrodyellow;
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 2vw;
  }
}
